.cart-container {
  padding: 20px;
  background: #f2f2f2;
  min-height: 100vh;
}

.cart-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  color: #802319;
}

.empty-cart {
  text-align: center;
  margin-top: 50px;
}

.back-btn {
  background: #802319;
  padding: 10px 16px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  align-items: center;
  gap: 12px;
  position: relative;
}

.cart-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.cart-details h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart-price {
  font-weight: 600;
  color: #000;
}

.qty-controls {
  display: flex;
  gap: 10px;
  margin-top: 6px;
  align-items: center;
}

.qty-controls button {
  padding: 4px 10px;
  border: none;
  background: #f9d0d0;
  color: #000000;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.remove-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.cart-summary {
  margin-top: 30px;
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  text-align: center;
}
.cart-summary h5{
    color: #802319;
    font-size: 18px;
    margin-top: 10px;
}

.checkout-btn {
  width: 80%;
  background: #802319;
  color: white;
  padding:10px 12px;
  margin-top: 10px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
